<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthbank">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.auto.focus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.ZkrpSendResultActivity"></activity>
        <activity android:name=".Activity.ColumnSelectWestern" />
        <activity android:name=".Activity.ColumnSelectMedicine" />
        <activity android:name=".Activity.HistoryActivity" />
        <activity android:name=".Activity.SelfSharingDisplayAllActivity" />
        <activity android:name=".Activity.SelfSharingDisplayWesternActivity" />
        <activity android:name=".Activity.SelfSharingSelectWesternActivity" />
        <activity android:name=".Activity.SelfSharingDisplayMedicineActivity" />
        <activity android:name=".Activity.SelfSharingSelectMedicineActivity" />
        <activity android:name=".Activity.MerkleTreeSendActivity" />
        <activity android:name=".Activity.ZkrpSendActivity" />
        <activity android:name=".Activity.FindDetailActivity" />
        <activity
            android:name=".Activity.ExamineActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".Activity.ThirdPartyActivity" />
        <activity
            android:name=".Activity.MedicineUsageActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Activity.HospitalActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".Activity.MenuActivity" />
        <activity
            android:name=".Activity.WesternMedicineActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>